body,
html {
	height: 100%;
}

div.bimmel {
	height: 134px;
	width: 268px;
	background-color: #cccccc;
	margin: 2px 0;
	padding-right: 4px;
	position: relative;
	cursor: -webkit-grab;
	box-shadow: 5px 5px 15px 0 rgba(0,0,0,.2);
	text-align: right;
	background-image: url("play-orange.png");
	background-repeat: no-repeat;
}

div.board {
	height: 100%;
	background-color: #eeeeee;
	margin: 2px 0;
}
