body,
html,
div#root {
	height: 100%;
	overflow: hidden;
}

div.bimmel {
	height: 132px;
	width: 512px;
	background-color: #cccccc;
	margin: 2px 0;
	cursor: -webkit-grab;
	box-shadow: 5px 5px 15px 0 rgba(0,0,0,.2);
	text-align: right;
	background-image: url("play-orange.png");
	background-repeat: no-repeat;
}
